<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Hastane_Otomasyon.Properties.Settings.Hastane_ProjeConnectionString" connectionString="Data Source=DESKTOP-NLD05HG\SQLEXPRESS;Initial Catalog=Hastane_Proje;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
